ES01/file.dtd

<!ELEMENT libretti (libretto)* >
<!ELEMENT libretto (studente , esami?) >
<!ELEMENT studente (nome, cognome) >
<!ELEMENT nome (#PCDATA) >
<!ELEMENT cognome (#PCDATA) >
<!ATTLIST studente  
            cdl CDATA #REQUIRED
            matricola CDATA #REQUIRED >
<!ELEMENT esami (esame)+ >
<!ELEMENT esame (materia, voto, data) > 
<!ELEMENT materia (#PCDATA) >
<!ELEMENT voto (#PCDATA) >
<!ELEMENT data (#PCDATA) >