ES04/file.dtd

<!ELEMENT utenti (utente*) >
<!ELEMENT utente (preferiti? , playlist+) >
<!ATTLIST utente 
            premium CDATA #FIXED "true" >
<!ELEMENT playlist (brano+) >
<!ELEMENT preferiti (brano+) >
<!ELEMENT brano (nome, autore , durata, url) >
<!ELEMENT nome (#PCDATA)>
<!ELEMENT autore (#PCDATA)>
<!ELEMENT durata (#PCDATA)>
<!ELEMENT url (#PCDATA)>
